@tailwind base;
@tailwind components;
@tailwind utilities;
.MuiDataGrid-cell{
    border-right : solid 1px black;
    border-bottom : solid 1px black;
    font-size :
}
@layer utilities {
    @variants responsive {
        scroll-snap-align:start;
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }